<label>Server Name</label>
<!-- <input type="text" class="form-control" (input)="onUpdateServerName($event)"> -->
<input type="text" class="form-control" [(ngModel)]="serverName">
<p *ngIf="serverCreated; else noServer">Server was created, server name is {{ serverName }}</p>
<ng-template #noServer>
    <p>No Server was created</p>
</ng-template>
<button class="btn btn-primary" [disabled]="!allowNewServer" (click)="onCreateServer()">Add Server</button>
<button class="btn btn-primary" (click)="serverCreated = false; serverName = ''; serverCreationStatus = 'No server was created!'">Reset Server</button>
<!-- <p [innerText]="allowNewServer"></p> -->
<p>{{ serverCreationStatus }} </p>
<input type="text" class="form-control" [(ngModel)]="username">
<p>{{ username }}</p>
<button class="btn btn-primary" [disabled]="username === ''" (click)="username = ''">Reset User</button>
<app-server *ngFor="let server of servers"></app-server>
<app-for-test></app-for-test>